html {
  background: linear-gradient(135deg, #0c0c0c, #1a1a1a);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #BDA567;
  text-decoration: inherit;
}
a:hover {
  color: #F8E5AB;
}
a:visited {
  color: #BDA567;
}
a:-webkit-any-link {
  color: #BDA567;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #BDA567;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li.beast-item {
  background-color: #1A1F2A;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #BDA567;
  border-radius: 4px;
  font-family: 'Major Mono Display', monospace;
}
img {
  max-width: 100%;
  margin: 0px;
  border-radius: 8px;
}
button {
  background-color: #BDA567;
  color: #1A1F2A;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
button:hover {
  background-color: #F8E5AB;
}
input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #BDA567;
  background-color: #1A1F2A;
  color: #BDA567;
  font-family: 'Major Mono Display', monospace;
  margin-right: 10px;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
